/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9411764706);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

p {
  margin-bottom: 8px;
  font-weight: 300;
  line-height: 24px;
}
p:last-of-type {
  margin-bottom: 0;
}

.wrap {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.btn--primary {
  background-color: #a62120;
  border: 1px solid #fff;
  transition: background-color 0.3s ease-in-out;
}
.btn--primary:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.9411764706);
  border: 1px solid #ff0000;
}

.btn--secondary {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.9411764706);
  border: 1px solid #ff0000;
  transition: background-color 0.3s ease-in-out;
}
.btn--secondary:hover {
  background-color: #a62120;
  color: #fff;
  border: 1px solid #fff;
}

.light__mode {
  text-align: end;
}
.light__mode .light__btn {
  background-color: transparent;
  padding: 8px;
  border: none;
  color: #fff;
}
.light__mode .light__btn .change-theme {
  font-size: 42px;
  cursor: pointer;
}

body.light-theme {
  background-color: #fff;
}
body.light-theme .banner {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.9411764706);
}
body.light-theme .about,
body.light-theme .products,
body.light-theme .awards,
body.light-theme .recommendation,
body.light-theme .recommendation__subtitle {
  color: rgba(0, 0, 0, 0.9411764706);
}
body.light-theme .card__text {
  color: #fff;
}
body.light-theme .awards__img,
body.light-theme .awards__logo,
body.light-theme .products__logo {
  mix-blend-mode: difference;
}
body.light-theme .awards .card__description {
  color: rgba(0, 0, 0, 0.9411764706);
}
body.light-theme .recommendation__slide {
  background: rgba(0, 0, 0, 0.9411764706);
  color: #fff;
  opacity: 0.8;
}
body.light-theme .btn--primary {
  color: #fff;
}
body.light-theme .btn--primary:hover {
  color: rgba(0, 0, 0, 0.9411764706);
}

.header {
  background-color: #b50014;
  position: relative;
}
.header .wrap {
  display: flex;
  justify-content: space-between;
}

.header__img {
  position: relative;
  width: 177px;
  z-index: 2;
}
.header__img img {
  position: absolute;
}

.nav {
  margin-right: -20px;
  padding-top: 32px;
}
.nav .nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .nav__list .nav__link {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon__pdf {
  height: 28px;
  width: 24px;
}

.icon__clock {
  height: 16px;
  width: 16px;
}

.banner {
  background-color: rgba(0, 0, 0, 0.9411764706);
  padding: 8px 0;
}
.banner .worktime {
  display: flex;
  margin-left: auto;
  gap: 8px;
}
.banner .worktime .worktime__info {
  font-size: 14px;
  line-height: 8px;
  padding-top: 5px;
}
.banner .worktime .worktime__info .worktime__info--weight {
  font-weight: 700;
}

.hamburger,
.nav__menu {
  display: none;
}

.hero {
  height: 680px;
}
.hero .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  height: 16px;
  width: 16px;
}
.hero .swiper-pagination-bullet-active {
  background: #a62120;
  border: 1px solid #fff;
  width: 16px;
  height: 16px;
}
.hero .swiper-button-prev,
.hero .swiper-button-next {
  color: #fff;
  border: 3px solid #fff;
  padding: 24px;
  border-radius: 50%;
}
.hero .swiper-button-prev::after,
.hero .swiper-button-next::after {
  font-size: 22px;
}
.hero .swiper-button-prev {
  left: 40%;
  top: 95%;
  margin-left: 10px;
}
.hero .swiper-button-next {
  right: 40%;
  top: 95%;
}

.hero__content {
  padding: 120px;
  height: 100%;
  overflow: hidden;
}
.hero__content .hero__text {
  max-width: 1320px;
  margin: 0 auto;
}

.hero__content--one {
  background-image: url("../assets/images/hero-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__content--two {
  background-image: url("../assets/images/hero-img2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__content--three {
  background-image: url("../assets/images/hero-img3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__content--four {
  background-image: url("../assets/images/hero-img4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__wrap {
  width: 40ch;
  padding: 64px;
  padding-left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.hero__wrap::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 100%;
  background-color: inherit;
  height: 100%;
}
.hero__wrap .hero__title {
  margin-bottom: 16px;
}

.about {
  padding: 120px 0;
}
.about .about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 120px;
}

.about__content {
  flex: 0 0 50%;
  padding-right: 120px;
}
.about__content .about__subtitle {
  margin-bottom: 32px;
}
.about__content .about__description {
  margin-bottom: 64px;
}
.about__content .about__btn {
  display: inline-block;
  min-width: 174px;
  line-height: 24px;
  padding: 16px 32px;
  font-weight: 400;
  border-radius: 40px;
  text-align: center;
}
.about__content .about__btn:first-of-type {
  margin-right: 16px;
}

.about__imgs--big {
  margin-bottom: 16px;
}

.about__imgs--small {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.about__imgs--small .about__img {
  height: 165px;
  width: 165px;
}

.reservation {
  background-color: #a62120;
}
.reservation .wrap {
  display: flex;
  align-items: center;
}

.reservation__content {
  flex: 0 0 50%;
  padding: 0 120px;
}
.reservation__content .reservation__title {
  margin-bottom: 32px;
}
.reservation__content .reservation__list {
  margin-bottom: 48px;
  margin-left: 24px;
  list-style: disc;
}
.reservation__content .reservation__list .reservation__item:not(:last-of-type) {
  margin-bottom: 8px;
}
.reservation__content .reservation__btn {
  display: inline-block;
  min-width: 174px;
  line-height: 24px;
  padding: 16px 32px;
  font-weight: 400;
  border-radius: 40px;
  text-align: center;
}

.reservation__img {
  background-image: url("../assets/images/reservation-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 55vh;
  min-width: 50vw;
  min-height: 680px;
}

.products {
  padding: 120px 0;
}
.products .wrap {
  padding: 0 120px;
}

.products__content {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.products__content .products__title {
  margin-bottom: 16px;
}
.products__content .products__subtitle {
  margin-bottom: 64px;
}
.products__content .products__description {
  margin-bottom: 48px;
}
.products__content .products__btn {
  display: inline-block;
  min-width: 174px;
  line-height: 24px;
  padding: 16px 32px;
  font-weight: 400;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 64px;
}

.products__logo {
  margin-bottom: 48px;
}

.products__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products__cards .products__card {
  flex: 0 0 23%;
  position: relative;
}
.products__cards .products__card .card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
}
.products__cards .products__card .card__text .card__title {
  text-align: center;
  padding: 16px 0;
  font-weight: 400;
}

.spices {
  background-color: #a62120;
}
.spices .wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.spices__img {
  background-image: url("../assets/images/spices.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 55vh;
  min-width: 50vw;
  min-height: 680px;
}

.spices__content {
  flex: 0 0 50%;
  padding: 0 120px;
}
.spices__content .spices__title {
  margin-bottom: 8px;
}
.spices__content .spices__subtitle {
  margin-bottom: 32px;
}

.shipping {
  background-image: url("../assets/images/shipping-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vh;
  background-color: rgba(0, 0, 0, 0.9411764706);
}
.shipping .wrap {
  height: 100%;
}

.shipping__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.shipping__content .shipping__title {
  margin-bottom: 32px;
}
.shipping__content .shipping__btn {
  display: inline-block;
  min-width: 174px;
  line-height: 24px;
  padding: 16px 32px;
  font-weight: 400;
  border-radius: 40px;
  text-align: center;
}

.awards {
  padding: 120px 0;
  padding-bottom: 48px;
}

.awards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 120px;
}
.awards__container .awards__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.awards__container .awards__wrapper .awards__img {
  flex: 0 0 40%;
}

.awards__content {
  flex: 0 0 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.awards__content .awards__title {
  margin-bottom: 32px;
}
.awards__content .awards__btn {
  display: inline-block;
  min-width: 174px;
  line-height: 24px;
  padding: 16px 32px;
  font-weight: 400;
  border-radius: 40px;
  text-align: center;
}

.awards__logo {
  margin-bottom: 64px;
}

.awards__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.awards__cards .awards__card {
  flex: 0 0 15%;
  margin-bottom: 16px;
}
.awards__cards .awards__card .card__img {
  margin-bottom: 8px;
}
.awards__cards .awards__card .card__description {
  text-align: center;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5098039216);
}

.recommendation {
  text-align: center;
}
.recommendation .recommendation__subtitle {
  color: rgba(255, 255, 255, 0.5098039216);
  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
  margin-bottom: 32px;
}
.recommendation .recommendation__title {
  margin-bottom: 64px;
}
.recommendation .recommendation__btn {
  display: inline-block;
  min-width: 174px;
  line-height: 24px;
  padding: 16px 32px;
  font-weight: 400;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 64px;
}

.recommendation__slider {
  padding: 120px 0;
}
.recommendation__slider .recommendation__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000000;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  opacity: 0.3;
  padding: 32px;
  transition: transform 0.25s ease-in;
}
.recommendation__slider .recommendation__slide.swiper-slide-active {
  opacity: 1;
  transform: scale(1.2);
}
.recommendation__slider .recommendation__slide.swiper-slide-active .slide__quotes {
  display: block;
}
.recommendation__slider .recommendation__slide.swiper-slide-active .slide__img {
  visibility: visible;
}
.recommendation__slider .recommendation__slide.swiper-slide-active .slide__job {
  display: block;
}
.recommendation__slider .slide__img {
  visibility: hidden;
}
.recommendation__slider .slide__img .icon__circle {
  height: 80px;
  width: 80px;
  margin-bottom: 16px;
}
.recommendation__slider .slide__img .icon__star {
  display: block;
  height: 30px;
  width: 92px;
  margin-bottom: 24px;
}
.recommendation__slider .slide__quotes {
  display: none;
  position: absolute;
  bottom: -16px;
  right: 16px;
}
.recommendation__slider .slide__description {
  margin-bottom: 32px;
}
.recommendation__slider .slide__job {
  display: none;
}
.recommendation__slider .swiper-button-prev,
.recommendation__slider .swiper-button-next {
  color: #fff;
  border: 3px solid #fff;
  padding: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9411764706);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.9411764706);
}
.recommendation__slider .swiper-button-prev::after,
.recommendation__slider .swiper-button-next::after {
  font-size: 14px;
}
.recommendation__slider .swiper-button-prev {
  left: 28%;
}
.recommendation__slider .swiper-button-next {
  right: 28%;
}

.footer {
  background-color: #b50014;
  padding: 24px 0;
}
.footer .footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__container .footer__contact {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.footer .footer__container .footer__contact .footer__address {
  margin-bottom: 8px;
}

.footer__logo {
  flex: 0 0 10%;
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 40%;
}
.footer__socials .footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.copyright {
  background-color: #66000b;
}
.copyright .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright .copyright__description {
  font-weight: 400;
  line-height: 24px;
  font-size: 12px;
  opacity: 0.5;
}
.copyright .copyright__link {
  text-decoration: underline;
}