/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9411764706);
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

p {
  margin-bottom: 8px;
  font-weight: 300;
  line-height: 24px;
}
p:last-of-type {
  margin-bottom: 0;
}

.wrap {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}
@media (max-width: 475px) {
  .wrap {
    padding: 0 16px;
  }
}

.btn--primary {
  background-color: #a62120;
  border: 1px solid #fff;
  transition: background-color 0.3s ease-in-out;
}
.btn--primary:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.9411764706);
  border: 1px solid #ff0000;
}

.btn--secondary {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.9411764706);
  border: 1px solid #ff0000;
  transition: background-color 0.3s ease-in-out;
}
.btn--secondary:hover {
  background-color: #a62120;
  color: #fff;
  border: 1px solid #fff;
}

.light__mode .light__btn {
  background-color: transparent;
  padding: 8px;
  border: none;
  color: #fff;
}
.light__mode .light__btn .change-theme {
  font-size: 42px;
  cursor: pointer;
}

body.light-theme {
  background-color: #fff;
}
body.light-theme .banner {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.9411764706);
}
body.light-theme .about,
body.light-theme .products,
body.light-theme .awards,
body.light-theme .recommendation,
body.light-theme .recommendation__subtitle {
  color: rgba(0, 0, 0, 0.9411764706);
}
body.light-theme .card__text {
  color: #fff;
}
body.light-theme .awards__img,
body.light-theme .awards__logo,
body.light-theme .products__logo {
  mix-blend-mode: difference;
}
body.light-theme .awards .card__description {
  color: rgba(0, 0, 0, 0.9411764706);
}
body.light-theme .recommendation__slide {
  background: rgba(0, 0, 0, 0.9411764706);
  color: #fff;
  opacity: 0.8;
}
body.light-theme .btn--primary {
  color: #fff;
}
body.light-theme .btn--primary:hover {
  color: rgba(0, 0, 0, 0.9411764706);
}

.header {
  background-color: #b50014;
  position: relative;
}
.header .wrap {
  display: flex;
  justify-content: space-between;
}

.header__img {
  position: relative;
  width: 177px;
  z-index: 100;
}
@media (max-width: 475px) {
  .header__img {
    width: 96px;
  }
}
.header__img img {
  position: absolute;
}

.nav {
  margin-right: -20px;
  padding-top: 32px;
}
@media (max-width: 475px) {
  .nav {
    margin-right: 0;
    padding-top: 8px;
  }
}
.nav .nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 475px) {
  .nav .nav__list {
    display: none;
  }
}
.nav .nav__list .nav__link {
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.icon__pdf {
  height: 28px;
  width: 24px;
}

.banner {
  background-color: rgba(0, 0, 0, 0.9411764706);
  padding: 8px 0;
}
.banner .worktime {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px;
}
@media (max-width: 475px) {
  .banner .worktime {
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 10px;
  }
}
.banner .worktime .worktime__info {
  font-size: 14px;
  line-height: 8px;
}
@media (max-width: 475px) {
  .banner .worktime .worktime__info {
    font-size: 10px;
  }
}
.banner .worktime .worktime__info .worktime__info--weight {
  font-weight: 700;
}

.worktime__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.worktime__title .worktime__icon {
  height: 16px;
  width: 16px;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.nav__menu .nav__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 8px;
}

.nav__menu--item,
.hamburger__menu {
  display: none;
}
@media (max-width: 475px) {
  .nav__menu--item,
  .hamburger__menu {
    display: block;
  }
}

.hamburger__menu {
  background-color: transparent;
  border: none;
  color: #fff;
}
.hamburger__menu .bx-menu {
  font-size: 32px;
}

.nav__list.show {
  display: block;
  position: absolute;
  background-color: #b50014;
  width: 70%;
  height: 70vh;
  top: 65px;
  right: 0;
  z-index: 20;
  padding-top: 24px;
}
.nav__list.show .nav__item {
  padding: 8px;
  width: 60%;
  margin: 0 auto;
}
.nav__list.show .nav__item:last-of-type {
  display: none;
}
.nav__list.show .nav__item .nav__link {
  border-bottom: 1px solid #fff;
}

.hero {
  height: 680px;
}
@media (max-width: 475px) {
  .hero {
    height: 420px;
  }
}
.hero .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  height: 16px;
  width: 16px;
}
@media (max-width: 475px) {
  .hero .swiper-pagination-bullet {
    height: 8px;
    width: 8px;
  }
}
.hero .swiper-pagination-bullet-active {
  background: #a62120;
  border: 1px solid #fff;
  width: 16px;
  height: 16px;
}
@media (max-width: 475px) {
  .hero .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
  }
}
.hero .swiper-button-prev,
.hero .swiper-button-next {
  color: #fff;
  border: 3px solid #fff;
  padding: 24px;
  border-radius: 50%;
}
@media (max-width: 475px) {
  .hero .swiper-button-prev,
  .hero .swiper-button-next {
    padding: 16px;
  }
}
.hero .swiper-button-prev::after,
.hero .swiper-button-next::after {
  font-size: 22px;
}
@media (max-width: 475px) {
  .hero .swiper-button-prev::after,
  .hero .swiper-button-next::after {
    font-size: 12px;
  }
}
.hero .swiper-button-prev {
  left: 40%;
  top: 95%;
  margin-left: 10px;
}
@media (max-width: 475px) {
  .hero .swiper-button-prev {
    left: 25%;
    top: 94%;
  }
}
.hero .swiper-button-next {
  right: 40%;
  top: 95%;
}
@media (max-width: 475px) {
  .hero .swiper-button-next {
    right: 25%;
    top: 94%;
  }
}

.hero__content {
  padding: 120px;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 475px) {
  .hero__content {
    padding-left: 0;
  }
}
.hero__content .hero__text {
  max-width: 1320px;
  margin: 0 auto;
}

.hero__content--one {
  background-image: url("../assets/images/hero-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__content--two {
  background-image: url("../assets/images/hero-img2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__content--three {
  background-image: url("../assets/images/hero-img3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__content--four {
  background-image: url("../assets/images/hero-img4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__wrap {
  width: 40ch;
  padding: 64px;
  padding-left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
@media (max-width: 475px) {
  .hero__wrap {
    padding: 24px;
  }
}
.hero__wrap::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 100%;
  background-color: inherit;
  height: 100%;
}
@media (max-width: 475px) {
  .hero__wrap::before {
    display: none;
  }
}
.hero__wrap .hero__title {
  margin-bottom: 16px;
}

.about {
  padding: 120px 0;
}
@media (max-width: 475px) {
  .about {
    padding: 64px 0;
  }
}
.about .about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 120px;
}
@media (max-width: 475px) {
  .about .about__container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 0;
  }
}

.about__content {
  flex: 0 0 50%;
  padding-right: 120px;
}
@media (max-width: 475px) {
  .about__content {
    margin-top: 64px;
    padding-right: 0;
    width: 100%;
    text-align: center;
  }
}
.about__content .about__subtitle {
  margin-bottom: 32px;
}
.about__content .about__description {
  margin-bottom: 64px;
}
.about__content .about__wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 475px) {
  .about__content .about__wrap {
    justify-content: center;
  }
}
.about__content .about__wrap .about__btn {
  display: inline-block;
  min-width: 174px;
  line-height: 24px;
  padding: 16px 32px;
  font-weight: 400;
  border-radius: 40px;
  text-align: center;
}

.about__wrapper {
  width: 100%;
}

.about__imgs--big {
  margin-bottom: 16px;
}

.about__imgs--small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.about__imgs--small .about__img {
  flex: 1 0 25%;
}
.about__imgs--small .about__img img {
  width: 100%;
}

.reservation {
  background-color: #a62120;
}
.reservation .wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 475px) {
  .reservation .wrap {
    flex-wrap: wrap;
    padding: 0;
  }
}

.reservation__content {
  flex: 0 0 50%;
  padding: 0 120px;
}
@media (max-width: 475px) {
  .reservation__content {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 64px 0;
  }
}
.reservation__content .reservation__title {
  margin-bottom: 32px;
}
.reservation__content .reservation__list {
  margin-bottom: 48px;
  margin-left: 24px;
  list-style: disc;
  display: inline-block;
}
.reservation__content .reservation__list .reservation__item {
  width: fit-content;
}
.reservation__content .reservation__list .reservation__item:not(:last-of-type) {
  margin-bottom: 8px;
}
.reservation__content .reservation__btn {
  display: inline-block;
  min-width: 174px;
  line-height: 24px;
  padding: 16px 32px;
  font-weight: 400;
  border-radius: 40px;
  text-align: center;
}

.reservation__img {
  background-image: url("../assets/images/reservation-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 55vh;
  min-width: 50vw;
  min-height: 680px;
}
@media (max-width: 475px) {
  .reservation__img {
    min-height: 290px;
  }
}

.products {
  padding: 120px 0;
}
@media (max-width: 475px) {
  .products {
    padding: 64px 0;
  }
}
.products .wrap {
  padding: 0 120px;
}
@media (max-width: 475px) {
  .products .wrap {
    padding: 0 16px;
  }
}

.products__content {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 475px) {
  .products__content {
    width: 100%;
  }
}
.products__content .products__title {
  margin-bottom: 16px;
}
.products__content .products__subtitle {
  margin-bottom: 64px;
}
@media (max-width: 475px) {
  .products__content .products__subtitle {
    margin-bottom: 32px;
  }
}
.products__content .products__description {
  margin-bottom: 48px;
}
.products__content .products__btn {
  display: inline-block;
  min-width: 174px;
  line-height: 24px;
  padding: 16px 32px;
  font-weight: 400;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 64px;
}
@media (max-width: 475px) {
  .products__content .products__btn {
    margin-bottom: 32px;
  }
}

.products__logo {
  margin-bottom: 48px;
}
@media (max-width: 475px) {
  .products__logo {
    overflow-x: hidden;
  }
  .products__logo img {
    transform: scale(1.2);
  }
}

.products__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 475px) {
  .products__cards {
    flex-wrap: wrap;
    gap: 10px;
  }
}
.products__cards .products__card {
  flex: 0 0 23%;
  position: relative;
}
@media (max-width: 475px) {
  .products__cards .products__card {
    flex: 0 0 48%;
  }
}
.products__cards .products__card .card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
}
.products__cards .products__card .card__text .card__title {
  text-align: center;
  padding: 16px 0;
  font-weight: 400;
}

.spices {
  background-color: #a62120;
}
.spices .wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 475px) {
  .spices .wrap {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 0;
  }
}

.spices__img {
  background-image: url("../assets/images/spices.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 55vh;
  min-width: 50vw;
  min-height: 680px;
}
@media (max-width: 475px) {
  .spices__img {
    min-height: 290px;
  }
}

.spices__content {
  flex: 0 0 50%;
  padding: 0 120px;
}
@media (max-width: 475px) {
  .spices__content {
    flex: 0 0 100%;
    text-align: center;
    padding: 64px 16px;
  }
}
.spices__content .spices__title {
  margin-bottom: 8px;
}
.spices__content .spices__subtitle {
  margin-bottom: 32px;
}

.shipping {
  background-image: url("../assets/images/shipping-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vh;
  background-color: rgba(0, 0, 0, 0.9411764706);
}
.shipping .wrap {
  height: 100%;
}

.shipping__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.shipping__content .shipping__title {
  margin-bottom: 32px;
}
.shipping__content .shipping__btn {
  display: inline-block;
  min-width: 174px;
  line-height: 24px;
  padding: 16px 32px;
  font-weight: 400;
  border-radius: 40px;
  text-align: center;
}

.awards {
  padding: 120px 0;
  padding-bottom: 48px;
}
@media (max-width: 475px) {
  .awards {
    padding: 0;
    padding-top: 64px;
  }
}

.awards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 120px;
}
@media (max-width: 475px) {
  .awards__container {
    padding: 0;
  }
}
.awards__container .awards__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
@media (max-width: 475px) {
  .awards__container .awards__wrapper {
    flex-wrap: wrap;
  }
}
.awards__container .awards__wrapper .awards__img {
  flex: 0 0 40%;
}
@media (max-width: 475px) {
  .awards__container .awards__wrapper .awards__img {
    flex: 0 0 100%;
    margin-bottom: 64px;
  }
}

.awards__content {
  flex: 0 0 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 475px) {
  .awards__content {
    flex: 0 0 100%;
    align-items: center;
    text-align: center;
  }
}
.awards__content .awards__title {
  margin-bottom: 32px;
}
.awards__content .awards__btn {
  display: inline-block;
  min-width: 174px;
  line-height: 24px;
  padding: 16px 32px;
  font-weight: 400;
  border-radius: 40px;
  text-align: center;
}

.awards__logo {
  margin-bottom: 64px;
}
@media (max-width: 475px) {
  .awards__logo {
    overflow-x: hidden;
  }
  .awards__logo img {
    transform: scale(1.2);
  }
}

.awards__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}
@media (max-width: 475px) {
  .awards__cards {
    flex-wrap: wrap;
    margin-bottom: 64px;
  }
}
@media (max-width: 475px) {
  .awards__cards .awards__heading {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 64px;
  }
}
.awards__cards .awards__card {
  flex: 0 0 15%;
  margin-bottom: 16px;
}
@media (max-width: 475px) {
  .awards__cards .awards__card {
    flex: 0 0 45%;
  }
}
.awards__cards .awards__card .card__img {
  margin-bottom: 8px;
}
.awards__cards .awards__card .card__description {
  text-align: center;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5098039216);
}

.recommendation {
  text-align: center;
}
.recommendation .recommendation__subtitle {
  color: rgba(255, 255, 255, 0.5098039216);
  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
  margin-bottom: 32px;
}
.recommendation .recommendation__title {
  margin-bottom: 64px;
}
@media (max-width: 475px) {
  .recommendation .recommendation__title {
    margin-bottom: 0;
  }
}
.recommendation .recommendation__btn {
  display: inline-block;
  min-width: 174px;
  line-height: 24px;
  padding: 16px 32px;
  font-weight: 400;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 64px;
}
@media (max-width: 475px) {
  .recommendation .recommendation__btn {
    margin-top: 32px;
  }
}

.recommendation__slider {
  padding: 120px 0;
}
.recommendation__slider .recommendation__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000000;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  opacity: 0.3;
  padding: 32px;
  transition: transform 0.25s ease-in;
}
.recommendation__slider .recommendation__slide.swiper-slide-active {
  opacity: 1;
  transform: scale(1.2);
}
.recommendation__slider .recommendation__slide.swiper-slide-active .slide__quotes,
.recommendation__slider .recommendation__slide.swiper-slide-active .slide__job {
  display: block;
}
.recommendation__slider .recommendation__slide.swiper-slide-active .slide__img {
  visibility: visible;
}
.recommendation__slider .slide__img {
  visibility: hidden;
}
.recommendation__slider .slide__img .icon__circle {
  height: 80px;
  width: 80px;
  margin-bottom: 16px;
}
.recommendation__slider .slide__img .icon__star {
  display: block;
  height: 30px;
  width: 92px;
  margin-bottom: 24px;
}
.recommendation__slider .slide__quotes {
  display: none;
  position: absolute;
  bottom: -16px;
  right: 16px;
}
@media (max-width: 475px) {
  .recommendation__slider .slide__quotes {
    bottom: -24px;
    right: 64px;
  }
}
.recommendation__slider .slide__description {
  padding: 0 8px;
  margin-bottom: 32px;
}
.recommendation__slider .slide__job {
  display: none;
}
.recommendation__slider .swiper-button-prev,
.recommendation__slider .swiper-button-next {
  color: #fff;
  border: 3px solid #fff;
  padding: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9411764706);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.9411764706);
}
.recommendation__slider .swiper-button-prev::after,
.recommendation__slider .swiper-button-next::after {
  font-size: 14px;
}
.recommendation__slider .swiper-button-prev {
  left: 28%;
}
@media (max-width: 475px) {
  .recommendation__slider .swiper-button-prev {
    left: 30%;
    top: 94%;
  }
}
.recommendation__slider .swiper-button-next {
  right: 28%;
}
@media (max-width: 475px) {
  .recommendation__slider .swiper-button-next {
    right: 30%;
    top: 94%;
  }
}

.footer {
  background-color: #b50014;
  padding: 24px 0;
}
.footer .footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 475px) {
  .footer .footer__container {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.footer .footer__container .footer__contact {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
@media (max-width: 475px) {
  .footer .footer__container .footer__contact {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 64px;
  }
}
.footer .footer__container .footer__contact .footer__address {
  margin-bottom: 8px;
}

.footer__logo {
  flex: 0 0 10%;
}
@media (max-width: 475px) {
  .footer__logo {
    flex: 0 0 100%;
    margin-bottom: 64px;
    transform: scale(2);
  }
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  flex: 0 0 40%;
}
@media (max-width: 475px) {
  .footer__socials {
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 100%;
  }
}
.footer__socials .footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media (max-width: 475px) {
  .footer__socials .footer__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 475px) {
  .footer__socials .footer__list .footer__socials--title {
    flex: 0 0 100%;
    margin-bottom: 24px;
  }
}

.copyright {
  background-color: #66000b;
}
.copyright .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 475px) {
  .copyright .wrap {
    flex-wrap: wrap;
    justify-content: center;
    padding: 32px 0;
  }
}
.copyright .copyright__description {
  font-weight: 400;
  line-height: 24px;
  font-size: 12px;
  opacity: 0.5;
}
@media (max-width: 475px) {
  .copyright .copyright__description {
    flex: 0 0 100%;
    text-align: center;
  }
}
.copyright .copyright__link {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
  display: none;
}

.content {
  background-image: url("../assets/images/people-team.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 500px;
  z-index: 200;
  padding: 64px;
  display: none;
}
@media (max-width: 475px) {
  .content {
    padding: 0;
  }
}
@media (max-width: 475px) {
  .content {
    width: 350px;
    height: 300px;
  }
}
.content .popup__body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.content .popup__body .popup__text {
  padding: 8px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9411764706);
}
@media (max-width: 475px) {
  .content .popup__body .popup__text {
    width: 80%;
    padding: 0;
  }
  .content .popup__body .popup__text .popup__title {
    font-size: 22px;
  }
  .content .popup__body .popup__text .popup__description {
    font-size: 12px;
  }
}
.content .popup__body .popup__btn {
  display: inline-block;
  min-width: 174px;
  line-height: 24px;
  padding: 16px 32px;
  font-weight: 400;
  border-radius: 40px;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 475px) {
  .content .popup__body .popup__btn {
    padding: 8px 24px;
  }
}
.content .close__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}
.content .close__btn .bx-x {
  font-size: 32px;
}

.content.popup,
.overlay.popup {
  display: block;
}