.about {
	padding: $padding-section;

	.about__container {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 $unit-xxl;
	}
}

.about__content {
	flex: 0 0 50%;
	padding-right: $unit-xxl;

	.about__subtitle {
		margin-bottom: $unit-l;
	}

	.about__description {
		margin-bottom: $unit-xl;
	}

	.about__btn {
		@include btn;

		&:first-of-type {
			margin-right: $unit-s;
		}
	}
}

.about__imgs--big {
	margin-bottom: $unit-s;
}

.about__imgs--small {
	display: flex;
	justify-content: space-between;
	gap: $unit-s;

	.about__img {
		height: 165px;
		width: 165px;
	}
}
