/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: $font-family;
	width: 100%;
	color: $color-white;
	overflow-x: hidden;
}

a {
	color: inherit;
}

img {
	width: 100%;
	height: auto;
}

.wrap {
	width: 100%;
	max-width: 1320px;
	margin: 0 auto;
}

.h1 {
	font-size: 38px;
	font-weight: $font-weight-l;
	line-height: 45px;
}

.h2 {
	font-size: $font-size-l;
	line-height: 42px;
	font-weight: $font-weight-l;
}

.h3 {
	font-weight: $font-weight-l;
	font-size: $font-size-m;
	line-height: $line-height-m;
}

.h4 {
	font-weight: $font-weight-l;
	line-height: $line-height-s;
	font-size: 18px;
	margin-bottom: $unit-l;
}

.btn {
	display: inline-block;
	min-width: 174px;
	line-height: $line-height-m;
	padding: $unit-s $unit-l;
	font-weight: $font-weight-m;
	border-radius: 40px;
	text-align: center;
}
