.header {
	background-color: $bg-color-red;
	position: relative;

	.wrap {
		display: flex;
		justify-content: space-between;
	}
}

.header__img {
	position: relative;
	width: 177px;
	z-index: 100;

	@include media-phone {
		width: 96px;
	}

	img {
		position: absolute;
	}
}

.nav {
	margin-right: -20px;
	padding-top: $unit-l;

	@include media-phone {
		margin-right: 0;
		padding-top: $unit-xs;
	}

	.nav__list {
		display: flex;
		align-items: center;
		justify-content: center;

		@include media-phone {
			display: none;
		}

		.nav__link {
			padding: 8px 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 5px;
		}
	}
}

.icon__pdf {
	height: 28px;
	width: $unit-m;
}

//Banner

.banner {
	background-color: $color-black;
	padding: $unit-xs 0;

	.worktime {
		display: flex;
		align-items: center;
		margin-left: auto;
		gap: $unit-xs;

		@include media-phone {
			flex-wrap: wrap;
			align-items: flex-end;
			justify-content: flex-end;
			flex-direction: column;
			font-size: $font-size-xxs;
		}

		.worktime__info {
			font-size: $font-size-s;
			line-height: $line-height-xs;

			@include media-phone {
				font-size: $font-size-xxs;
			}

			.worktime__info--weight {
				font-weight: $font-weight-l;
			}
		}
	}
}

.worktime__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;

	.worktime__icon {
		height: $unit-s;
		width: $unit-s;
	}
}

//Hamburger menu

.nav__menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: $unit-xs;

	.nav__link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
		padding: $unit-xs;
	}
}

.nav__menu--item,
.hamburger__menu {
	display: none;

	@include media-phone {
		display: block;
	}
}

.hamburger__menu {
	background-color: transparent;
	border: none;
	color: $color-white;

	.bx-menu {
		font-size: $font-size-l;
	}
}

//Hamburger menu

.nav__list.show {
	display: block;
	position: absolute;
	background-color: $bg-color-red;
	width: 70%;
	height: 70vh;
	top: 65px;
	right: 0;
	z-index: 20;
	padding-top: $unit-m;

	.nav__item {
		padding: $unit-xs;
		width: 60%;
		margin: 0 auto;

		&:last-of-type {
			display: none;
		}
		.nav__link {
			border-bottom: 1px solid $color-white;
		}
	}
}
