.header {
	background-color: $bg-color-red;
	position: relative;

	.wrap {
		display: flex;
		justify-content: space-between;
	}
}

.header__img {
	position: relative;
	width: 177px;
	z-index: 2;

	img {
		position: absolute;
	}
}

.nav {
	margin-right: -20px;
	padding-top: $unit-l;

	.nav__list {
		display: flex;
		align-items: center;
		justify-content: center;

		.nav__link {
			padding: 8px 20px;
			display: flex;
			align-items: center;
			gap: 5px;
		}
	}
}

.icon__pdf {
	height: 28px;
	width: $unit-m;
}

//Banner

.icon__clock {
	height: $unit-s;
	width: $unit-s;
}

.banner {
	background-color: $color-black;
	padding: $unit-xs 0;

	.worktime {
		display: flex;
		margin-left: auto;
		gap: $unit-xs;

		.worktime__info {
			font-size: $font-size-s;
			line-height: $line-height-xs;
			padding-top: 5px;

			.worktime__info--weight {
				font-weight: $font-weight-l;
			}
		}
	}
}

//Hamburger menu

.hamburger,
.nav__menu {
	display: none;
}
