@mixin media-phone {
	@media (max-width: 475px) {
		@content;
	}
}

@mixin btn {
	display: inline-block;
	min-width: 174px;
	line-height: $line-height-m;
	padding: $unit-s $unit-l;
	font-weight: $font-weight-m;
	border-radius: 40px;
	text-align: center;
}

@mixin bg-img($url) {
	background-image: url($url);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
