// Font

$font-family: "Roboto", sans-serif;

// Colors

$color-white: #fff;
$color-black: #252525;
$color-border-red: #ff0000;

$bg-color-red: #b50014;
$bg-color-dark-red: #a62120;
$bg-color-footer: #66000b;

// Fonts

$font-weight-l: 700;
$font-weight-m: 400;
$font-weight-s: 300;

// Line height

$line-height-m: 25px;
$line-height-s: 20px;
